<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704273651670-aeti9i3ocuq2hs1bbo7a9njfpqd59vvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704273651670-aeti9i3ocuq2hs1bbo7a9njfpqd59vvo</string>
	<key>API_KEY</key>
	<string>AIzaSyCm7RePTeONplmq24tc6SRIRqKPSCulhF8</string>
	<key>GCM_SENDER_ID</key>
	<string>704273651670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskk5</string>
	<key>PROJECT_ID</key>
	<string>taskk5</string>
	<key>STORAGE_BUCKET</key>
	<string>taskk5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704273651670:ios:9db868e821e9a154137677</string>
</dict>
</plist>